@import url('https://fonts.googleapis.com/css?family=Oswald:500,700&amp;display=swap');
body {
	padding: 0;
	margin: 0;
	background: #00ff00;
	font-family: 'Oswald', sans-serif;
}
.top-bar {
    background: url(top.png) no-repeat top right;
	position: absolute;
    width: 1371px;
    height: 59px;
	top: 0;
	right: 0;
}
.name-gamer 
{
	position: absolute;
	left: 18px;
	text-align: center;
	width: 301px;
	height: 35px;
	border: 0;
	background-color: transparent;
	color: #fff;
	font-size: 21px;
	padding:6px 7px;
	text-shadow: 0 1px 5px #000;
}
.gamer-2 {
	left: 485px;
}
.result {
	left: 820px;
	height: 30px;
	width: 528px;
}
.left-bar {
	bottom: 160px;
	position: absolute;
	left: 0;
}
.cam {
    width: 315px;
    bottom: 0;
    position: absolute;
    left: 1180px;
    height: 208px;
    background: url(cam.png) no-repeat bottom;
}
.cam-name {
    float: right;
    height: 31px;
    width: auto;
    max-width: 290px;
    background: url(gamer.png);
}
.cam-left {
    float: right;
    width: 12px;
    height: 31px;
    background: url(cam-left.png);
}
.cam-right {
    float: right;
    width: 12px;
    height: 31px;
    background: url(cam-right.png);
}
.cam-input {
    max-width: 290px;
    height: 30px;
    background-color: transparent;
    border: none;
    color: #f1b858;
    font-size: 18px;
    text-align: center;
    padding: 6px 5px 5px 5px;
    font-style: italic;
    font-weight: bold;
    box-sizing: border-box;
}
.cam-name .hidden {
	font-size: 18px;
	font:inherit;
	margin:0;
	padding:0;
	display:none;
	white-space:pre;
	text-transform: uppercase;
}
.tabs {
	position: absolute;
	clear: both;
	bottom: 133px;
	left: 757px;
	zoom: 0.95;
}

.tab {
	float: left;

}

.tab label {
	background: #074254;
	padding: 5px 10px;
	border: 1px solid #36616d;
	margin-left: -1px;
	position: relative;
	left: 1px;
	top: -25px;
	-webkit-transition: background-color .17s linear;
	color: #488da2;
	font-size: 14px;
	font-weight: 700;
}

.tab [type=radio] {
	display: none;
}

.content {
	position: absolute;
	top: 2px;
	left: 0;
	-webkit-transition: opacity .2s linear;
	opacity: 0;
	width: 470px;
	background: #bda034;
	padding: 3px;
}

[type=radio]:checked ~ label {
	background: #bda034;
	z-index: 2;
	color: #fff;
	border-color: #bda034;
}

[type=radio]:checked ~ label ~ .content {
	z-index: 1;
	opacity: 1;
}

input, select {
	outline: none;
	background: #000;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.vdv-1, .vdv-2, .select-q {
	background-color: rgba(82, 4, 5, 1);
	background-image: url("bg.html");
	background-position: center;
	border: solid 1px #c5ac8e;
	color: #fff;
	font-size: 21px;
	padding:6px 7px;
	width: 109px;
	float: left;
	text-shadow: 0 1px 5px #000;
}
.vdv-1{
	font-weight: 700;
}

.vdv-2 {
	background-color: rgba(13, 18, 95, 1);
	font-weight: 700;
	margin-left: -1px;
}

.select-q {
	background-color: #694113;
	color: #ffde63;
}
.bq {
	position: absolute;
	left: -2px;
	top: -31px;
	color: #fff;
	width: 460px;
	padding: 6px 10px;
	text-align: right;
	text-transform: uppercase;
	height: 175px;
	background: #07516a;
	background: radial-gradient(circle, #07516a 0%, #082024 100%);
}
.v1 input, .v1 select {
	height: 60px;
	margin: 1px;
}
.v1 input,.v2 input,.v3 input {
	padding: 0 6px;
	margin: 0 !important;
}
.v2 input, .v2 select {
	height: 72px;
	margin: 1px;
}
.v3 input, .v3 select {
	height: 47px;
	margin: 1px;
}
.v4 input, .v4 select {
	height: 23px;
	margin: 0;
}
.v4 select{
	height: 37px;
	padding: 0 6px;
}
.dc{
	background: url("deche.html");
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 1080px;
}